<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Catalog</h1>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>ID</th>
        <th>UserID</th>
        <th>Price</th>
        <th>CardNumber</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cat of catalogs | async">
        <td>{{cat.gameID}}</td>
        <td>{{cat.userID}}</td>
        <td>{{cat.price}}</td>
        <td>{{cat.cardNumber}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
